
altair
asttokens
attrs
backcall
blinker
cachetools
cairocffi
certifi
cffi
charset-normalizer
click
colorama
colour
comm
commonmark
contourpy
cycler
debugpy
decorator
docopt
entrypoints
executing
fonttools
gitdb
GitPython
gunicorn
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
kiwisolver
manimce
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
nltk
numpy
packaging
pandas
pangocairocffi
pangocffi
parso
pickleshare
Pillow
pipreqs
platformdirs
progressbar
prompt-toolkit
protobuf
psutil
psycopg2
pure-eval
pyarrow
pycairo
pycparser
pydeck
pydub
Pygments
Pympler
pyparsing
pyrsistent
pyscopg2
python-dateutil
pytz
pytz-deprecation-shim
pywin32
pyzmq
regex
requests
rich
scikit-learn
scipy
semver
six
sklearn
smmap
stack-data
streamlit
streamlit-chat
sudo
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
yarg
zipp
